<template name="main-nav">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a href="/" class="navbar-brand">Disruptive Innovation</a>
			</div>
			<ul class="nav navbar-nav pull-right">
				<li id="studentpage" class="">
					<a href="/studentsPage">Students</a>
				</li>
				<li id="activityPage" class="">
					<a href="/activitiespage">Activities</a>
				</li>
				<li id="requestPage" class=""> 
					<a href="/requestspage">Requests</a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="container">
	{{> yield }}
	</div>
</template>