<template name="landing">
	<div class="container">
		<div class="jumbotron">
			<h2 class="text-center">
				Welcome to Disruptive Innovation's Online Software
			</h2>
			<div class="row well">
				<a href="/studentsPage">
					<div class="col-lg-4 col-sm-4 col-xs-4 text-center">
						<h3>Students</h3>
					</div>
				</a>
				<a href="/activitiesPage">
					<div class="col-lg-4 col-sm-4 col-xs-4 text-center">
						<h3>Activities</h3>
					</div>
				</a>
				<a href="/requestsPage">
					<div class="col-lg-4 col-sm-4 col-xs-4 text-center">
						<h3>Requests</h3>
					</div>
				</a>			
			</div>
		</div>
	</div>

	<footer class="navbar navbar-default navbar-fixed-bottom well">
		<div class="container">
			<div class="row">
				<a href="/reportsPage">
					<div class="col-lg-6 col-sm-6 text-center">
						<h4>Activity Reports</h4>
					</div>
				</a>
				<a href="/pageforstudents">
					<div class="col-lg-6 col-sm-6 text-center">
						<h4>Student Activity Center</h4>
					</div>
				</a>
			</div>	
		</div>
	</footer>
</template>